
.NewNoteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  
  .NewNoteForm input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .NewNoteForm button {
    padding: 10px 20px;
    background-color: lightcoral;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  .NewNoteForm button:hover {
    background-color: lightseagreen;
  }
  